<template>
  <div>
    <v-app>
      <v-app-bar app>
        <v-toolbar-title>Rfider Vue Component Assessment</v-toolbar-title>
      </v-app-bar>
      <v-main>
        <v-container fluid>
          <div v-for="(list, index) in lists" :key="index">
            <list>
              <template #list>
                <p>{{ list.title }}</p>
                <ul
                  v-for="(row, index) in getPageItems(list.items,list.currentPage,list.perPage)"
                  :key="index"
                >
                  <li>{{ row.name }}</li>
                </ul>
                <div class="text-center">
                  <v-pagination
                    v-model="list.currentPage"
                    :length="getTotalPages(list.items, list.perPage)"
                    circle
                  ></v-pagination>
                </div>
                <br />
                <br />
              </template>
            </list>
          </div>
        </v-container>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import List from "./components/List";

const items1 = Array.from(new Array(10), (val, index) => {
  return { name: `Component 1 - row ${index + 1}` };
});
const items2 = Array.from(new Array(20), (val, index) => {
  return { name: `Component 2 - row ${index + 1}` };
});

export default {
  data() {
    return {
      lists: {
        list1: {
          title: "Component 1 Title",
          currentPage: 1,
          perPage: 3,
          items: items1
        },
        list2: {
          title: "Component 2 Title",
          currentPage: 1,
          perPage: 7,
          items: items2
        }
      }
    };
  },
  name: "App",
  components: {
    List
  },
  methods: {
    getTotalPages(items, perPage) {
      return perPage ? Math.ceil(items.length / perPage) : 0;
    },
    getPageItems(items, page, perPage) {
      return items.slice((page - 1) * perPage, page * perPage);
    }
  }
};
</script>
